//@use 'styles/_colors.scss'; // assuming a styles directory under src/
:root{
    --bs-red-custom: #ed8989;
    --bs-gray-custom: #e6e6e6;
    --bs-yellow-custom: #aaaa23;
    --bs-light-green: #d0e9d4;
    --bs-white-custom: #fff;
  }
